<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ippoippo.joplin.jdbc.mapper.MatchHistoryMapper">

	<resultMap id="matchItem" type="com.ippoippo.joplin.dto.MatchItem">
		<id property="id" column="ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="articleId" column="ARTICLE_ID"/>
		<result property="videoId" column="VIDEO_ID"/>
	</resultMap>

	<select id="newSelectedId" resultType="Integer">
		SELECT SEQ_MATCH_HISTORY.NEXTVAL
	</select>

	<select id="newDiscardId" resultType="Integer">
		SELECT SEQ_MATCH_HISTORY.NEXTVAL
	</select>

	<select id="getLatestSelectedByUserIdAndArticleId" parameterType="map" resultMap="matchItem">
		SELECT
			ID
			,USER_ID
			,ARTICLE_ID
			,VIDEO_ID
		FROM
			MATCH_HISTORY
		WHERE
			RANK = (
				SELECT
					MAX(RANK)
				FROM
					MATCH_HISTORY
				WHERE
					USER_ID = #{userId}
					AND ARTICLE_ID = #{articleId}
			)
	</select>

	<select id="listCandidate" parameterType="map" resultMap="matchItem">
		SELECT
			VIDEO_ID
		FROM
			YOUTUBE_ITEM YI
		WHERE
			NOT EXISTS
			(
				SELECT
				FROM
					MATCH_HISTORY MH
				WHERE
					YI.ARTICLE_ID = MH.ARTICLE_ID
					YI.VIDEO_ID = MH.VIDEO_ID
					MH.USER_ID = #{userId}
			)
	</select>

	<insert id="createSelected" parameterType="com.ippoippo.joplin.dto.MatchItem">
		MERGE INTO MATCH_HISTORY
		(
			ID
			,USER_ID
			,ARTICLE_ID
			,RANK
			,VIDEO_ID
		)
		KEY {
			ID
		}
		VALUES
		(
			#{id}
			,#{userId}
			,#{articleId}
			,(SELECT
				IFNULL(MAX(RANK) + 1, 1)
			FROM
				MATCH_HISTORY
			WHERE
				USER_ID = #{userId}
				AND ARTICLE_ID = #{articleId}
			)
			,#{videoId}
		)
	</insert>

	<insert id="createDiscard" parameterType="com.ippoippo.joplin.dto.MatchItem">
		MERGE INTO MATCH_HISTORY
		(
			ID
			,USER_ID
			,ARTICLE_ID
			,VIDEO_ID
		)
		KEY {
			ID
		}
		VALUES
		(
			#{id}
			,#{userId}
			,#{articleId}
			,#{videoId}
		)
	</insert>
</mapper>