<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ippoippo.joplin.jdbc.mapper.YoutubeItemMapper">

	<resultMap id="youtubeItem" type="com.ippoippo.joplin.dto.YoutubeItem">
		<id property="id" column="ID"/>
		<result property="articleId" column="ARTICLE_ID"/>
		<result property="videoId" column="VIDEO_ID"/>
	</resultMap>

	<select id="newId" resultType="Integer">
		SELECT SEQ_ITEM.NEXTVAL
	</select>

	<select id="getById" parameterType="String" resultMap="youtubeItem">
		SELECT
			ID,
			ARTICLE_ID,
			VIDEO_ID
		FROM
			YOUTUBE_ITEM
		WHERE
			ID = #{id}
	</select>

	<select id="countByArticleIdAndVideoId" parameterType="map" resultType="Integer">
		SELECT
			COUNT(ID)
		FROM
			YOUTUBE_ITEM
		WHERE
			ARTICLE_ID = #{articleId}
			AND VIDEO_ID = #{videoId}
	</select>

	<select id="listByArticleId" parameterType="String" resultMap="youtubeItem">
		SELECT
			ID,
			ARTICLE_ID,
			VIDEO_ID
		FROM
			YOUTUBE_ITEM
		WHERE
			ARTICLE_ID = #{articleId}
	</select>

	<insert id="create" parameterType="com.ippoippo.joplin.dto.YoutubeItem">
		INSERT INTO YOUTUBE_ITEM
		(
			ID,
			ARTICLE_ID,
			VIDEO_ID
		)
		VALUES
		(
			#{id},
			#{articleId},
			#{videoId}
		)
	</insert>

	<update id="update" parameterType="com.ippoippo.joplin.dto.YoutubeItem">
		UPDATE YOUTUBE_ITEM
			SET
				VIDEO_ID = #{videoId}
			WHERE
				ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM 
			YOUTUBE_ITEM
		WHERE 
			ID = #{id}
	</delete>
</mapper>